name: Python application test with Github Actions
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.7.9
    - name: Install dependencies
      run: |
        make install
    - name: Install lint
      run: |
        make lint
    - name: Test
      run: |
        make test
    - name: Format
      run: |
        make format
